
.product-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: auto;
  padding: 2rem;
  padding-bottom: 5rem;
}

.product_header {
  display: flex;
  justify-content: center;
}

.product_header > div {
  position: relative;
  padding: 0;
  height: 140px;
}

.product_hiden_title {
  font-size: 60px;
  font-family: "Abril Fatface", sans-serif;
  letter-spacing: 1px;
  color: rgb(156, 220, 181, 50%);
  margin-top: 2;
}

.product_title {
  font-size: 40px;
  font-family: "Abril Fatface", sans-serif;
  letter-spacing: 1px;
  color: #000000;
  position: absolute;
  top: 30px;
  left: 25%;
}

.product_card_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 450px;
  height: auto;
}

.product-card-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.product_box {
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 270px;
  height: 340px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.product-card-wrap > div > .product-img-div > img {
  width: 270px;
  height: 260px;
}

.product-card-wrap:nth-child(1) {
  top: 10%;
  left: 10%;
  z-index: 1000;
  opacity: 1000;
}

.product-card-wrap:nth-child(2) {
  top: 15%;
  left: 26%;
  z-index: 2000;
  opacity: 2000;
}

.product-card-wrap:nth-child(3) {
  top: 5%;
  left: 42%;
  z-index: 3000;
  opacity: 3000;
}

.product-card-wrap:nth-child(4) {
  top: 15%;
  left: 58.5%;
  z-index: 4000;
  opacity: 4000;
}

.product-card-wrap:nth-child(5) {
  top: 10%;
  left: 75%;
  z-index: 5000;
  opacity: 5000;
}

.product-card-wrap:nth-child(1):hover {
  z-index: 8000 !important;
  opacity: 8000 !important;
}

.product-card-wrap:nth-child(2):hover {
  z-index: 8000 !important;
  opacity: 8000 !important;
}

.product-card-wrap:nth-child(3):hover {
  z-index: 8000 !important;
  opacity: 8000 !important;
}

.product-card-wrap:nth-child(4):hover {
  z-index: 8000 !important;
  opacity: 8000 !important;
}

.product-card-wrap:nth-child(5):hover .product_box {
  z-index: 8000 !important;
  opacity: 8000 !important;
}

.product-img-div {
  width: 270px;
  height: 260px;
  background-color: #000000;
  z-index: 1000;
  opacity: 1000;
}

.product_des {
  display: none;
}

.product_box_clicked {
  z-index: 9000 !important;
  /* opacity: 0; */
  /* opacity: 9000 !important; */
 /* border: 5px solid #409c69;*/
  width: 280px !important;
  background-color: #409c69;
  color: #fff;

  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;

}

.product_box_clicked img {
  width: 280px !important;
}

.produc_des_main_title{
  margin-left: 75px;
}

.product_wrap_clicked {
  z-index: 9000 !important;
  opacity: 9000 !important;
}

.fade-in_text {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@media (max-width: 1100px) {

  .product-card-wrap {
    width: 250px;
  }

  .product-img-div {
    width: 250px;
  }

  .product-card-wrap > .product-img-div > img {
    width: 250px;
  }

  .product-card-wrap:nth-child(1) {
    top: 10%;
    left: 3%;
    z-index: 1000;
    opacity: 1000;
  }

  .product-card-wrap:nth-child(2) {
    top: 15%;
    left: 22%;
    z-index: 2000;
    opacity: 2000;
  }

  .product-card-wrap:nth-child(3) {
    top: 5%;
    left: 40%;
    z-index: 3000;
    opacity: 3000;
  }

  .product-card-wrap:nth-child(4) {
    top: 15%;
    left: 56%;
    z-index: 4000;
    opacity: 4000;
  }

  .product-card-wrap:nth-child(5) {
    top: 10%;
    left: 75%;
    z-index: 5000;
    opacity: 5000;
  }
}

@media (max-width: 1024px) {
  .product_card_row {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    height: auto;
    width: 90%;
    padding: 25px;
    justify-content: center;
    align-items: center;
  }

  .product-card-wrap {
    position: relative;
  }

  .product-card-wrap:nth-child(1) {
    top: 0;
    left: 0;
  }

  .product-card-wrap:nth-child(2) {
    top: 0;
    left: 0;
    margin-top: 30px;
  }

  .product-card-wrap:nth-child(3) {
    top: 0;
    left: 0;
  }

  .product-card-wrap:nth-child(4) {
    top: 0;
    left: 0;
    margin-top: 30px;
  }

  .product-card-wrap:nth-child(5) {
    top: 0;
    left: 0;
  }

  .product_des {
    display: flex !important;
    text-align: center;
    margin-top: 10px;
  }

  .product_des_main {
    display: none;
  }

  .produc_des_main_title {
    display: none;
  }

  #new_product_des-1{
    display: none !important;
  }

  #new_product_des-2{
    display: none !important;
  }

  #new_product_des-3{
    display: none !important;
  }

  #new_product_des-4{
    display: none !important;
  }

  #new_product_des-5{
    display: none !important;
  }

  #new_produc_des_main_title_1 {
    display: none !important;
  }

  #new_produc_des_main_title_2 {
    display: none !important;
  }

  #new_produc_des_main_title_3 {
    display: none !important;
  }

  #new_produc_des_main_title_4 {
    display: none !important;
  }

  #new_produc_des_main_title_5 {
    display: none !important;
  }

}

@media (max-width: 560px) {
  .product_card_row {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
  }
  
  .product_des {
    height: auto;
    align-items: flex-end;
  }

}

@media (max-width: 500px) {
  .product_card_row {
    width: 85%;
  }
}